@font-face
  font-family: 'Open Sans semi-bold'
  src: url("../fonts/opensanssemibold.woff") format('woff')

@font-face
  font-family: 'Open Sans Bold'
  src: url("../fonts/opensansbold.woff") format('woff')
@font-face
  font-family: 'Open Sans Italik'
  src: url("../fonts/opensansitalic.woff") format('woff')
@font-face
  font-family: 'Open Sans regular'
  src: url("../fonts/opensans.woff") format('woff')
@font-face
  font-family: 'SFpro regular'
  src: url("../fonts/SFProDisplay-Regular.woff") format('woff')
@font-face
  font-family: 'SFpro medium'
  src: url("../fonts/SFProDisplay-Medium.woff") format('woff')