
.btn__cart.mobile
  width: auto !important
.close-icon
  img
    height: 20px
.h-first
  .mobile-menu
    img
      height: 20px
.btn__cart:hover
  background-image: linear-gradient(0deg, #ab1b21 0, #d70d15)
.btn__cart
  max-width: 135px
  white-space: nowrap
  display: flex
  background-image: linear-gradient(0deg,#d32329 0,#e11f26)
  border-radius: 4px
  justify-content: center
  align-items: center
  padding: 9px 16px
  width: 320px !important
  color: white
  cursor: pointer
  font-size: 13px
  font-weight: 600
  font-family: "Open Sans semi-bold"
  .btn__cart-icon
    margin-right: 10px

.btn__enter:hover
  transform: scale(0.95)
.btn__enter.mobileMenu
  color: #cc3737
  font-family: 'Open Sans semi-bold'
  font-weight: 600
.btn__enter
  display: flex
  width: 73px
  font-size: 13px
  font-weight: 600
  font-family: "Open Sans semi-bold"
  cursor: pointer

.input__find-product
  background: #FFFFFF
  border: 1px solid #BDBDBD
  box-sizing: border-box
  border-radius: 4px
  padding: 16px 4px 16px 16px
  font-size: 13px
  font-weight: 600
  font-family: "Open Sans semi-bold"
  width: 100%
  height: 44px
  input
    font-weight: 600
    font-family: "Open Sans semi-bold"
    width: 100%
    height: 100%
    border: none
    outline: none
  .input__btn-find:hover
    transform: scale(0.95) !important
  .input__btn-find
    cursor: pointer
    height: 36px
    font-style: normal
    font-weight: 600
    font-family: "Open Sans semi-bold"
    font-size: 13px
    line-height: 18px
    text-align: center
    padding: 9px 16px
    color: #D2001C
    border: 2px solid #D2001C
    box-sizing: border-box
    border-radius: 4px
.header__body
  width: 90%
  position: relative
  margin: 0 auto
  box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.16)
  hr
    margin: 20px 0 0 0
    background: #BDBDBD
    transform: translate(0px, 1px)
    opacity: 0.35
  .container
    .catalog__category:hover
      .category__orders
        display: flex
    .category__orders
      display: none
      justify-content: start
      position: absolute
      background: white
      padding: 20px
      width: 100%
      border-top: 2px solid #FED600
      bottom: 0
      transform: translate(0,100%)
      left: 0
      box-sizing: border-box
      box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.16)
      .menu-content__item
        margin-right: 30px
      .menu-content__item-title
        width: 100%
        margin-left: 20px
        font-size: 17px
        margin-bottom: 10px
        text-align: left
      .menu-content__item
        display: flex
        flex-direction: column
        .menu-content__item-order
          font-size: 15px
          opacity: 0.8
          font-family: "Open Sans regular"
          height: 25px
          width: 100%
          padding: 0
          padding-left: 5px
          a
            text-decoration: none
            color: black
            font-size: 13px
    .find__mobile-icon
      display: none
      cursor: pointer
    .navbar
      width: 100%
    .menu
      width: 100%
      ul.menu__ul
        width: 100%
        li:hover
          color: #797777
        li
          font-family: 'Open Sans regular'
          font-size: 13px
          cursor: pointer
        display: flex
        list-style: none
        justify-content: space-between
    .h-first
      padding-top: 10px
      position: relative
      height: 73px
      margin-bottom: 13px
      div:first-child
        margin-left: 0 !important
      div:last-child
        margin-right: 0!important
      div
        margin-right: 16px
        margin-left: 16px
    .h-third
      ul.service-catalog
        flex-wrap: wrap
        display: flex
        list-style: none
        li:last-child
          margin-right: 0
        li:hover
          background: #FED600
          img
            transform: rotate(180deg)
            opacity: 1
            transition: 0.2s
        li
          transition: 0.2s
          display: flex
          justify-content: center
          align-items: center
          margin-right: -2px
          font-size: 13px
          font-family: "Open Sans Bold"
          color: black
          cursor: pointer
          height: 48px
          padding: 0 6px
          white-space: nowrap
          img
            opacity: 0.4
    div
      display: flex
      align-items: center
      justify-content: space-between

