.icon__show-more img
  max-width: 50px

header
  background: white
  margin-bottom: 70px
  .yellow-line
    background: #FED600
    font-family: 'Open Sans semi-bold'
    font-size: 13px
    font-width: 600
    width: 90%
    margin: 0 auto
    margin-top: 10px
    .container
      display: flex
      justify-content: space-between
      align-items: center
      padding: 9px 0
      .yellow-line__schedule:hover
        color: black !important
        cursor: auto !important
      .btn__choose-city, .btn__choose-city .icon__choose-city
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
      .yellow-line__left-part, .yellow-line__right-part
        display: flex
        div:hover
          color: #ffffff
          cursor: pointer
        div
          .time-work
            color: #c81720
          margin-right: 20px
          .icon__choose-city
            margin-right: 0
ul.socials
  display: flex
  list-style: none
  li:first-child
    margin-left: 0
  li:hover
    color: #666565
    transform: scale(1.1)
    transition: 0.2s
  li
    margin-left: 19px
    display: flex
    align-items: center
    a
      display: flex
      align-items: center
