*
  margin: 0
  padding: 0

.container
  max-width: 1200px
  margin: 0 auto



// modal styles
#modalWindow
  height: 100vh
  width: 100vw
  display: flex
  justify-content: center
  position: relative
  position: fixed
  z-index: 100
  .modal__content
    display: flex
    justify-content: center
    align-items: center
    .content_body
      padding: 20px
      background: #efefef
      display: flex
      justify-content: center
      align-items: center
      position: absolute
      flex-direction: column
      .find-city
        position: relative
        .current-cities__list
          max-height: 220px
          overflow-y: scroll
          position: absolute
          top: 46px
          width: 320px
          text-align: center
          border: 1px solid #ddd
          border-radius: 4px
          box-shadow: 0px 9px 8px 0px rgba(0, 0, 0, 0.11)
          .current-city:hover
            background: whitesmoke
          .current-city
            cursor: pointer
            background: white
            font-size: 15px
      button.select__city:hover
        background-image: linear-gradient(0deg, #ab1b21 0, #d70d15)
        transition: 0.3s
      button.select__city
        transition: 0.3s
        color: white
        background: #a3161b
        height: 42px
        width: 150px
        border-radius: 4px
        font-family: "Open Sans regular"
        cursor: pointer
        font-width: 600
        outline: none
        font-size: 13px
        border: none
        background-image: linear-gradient(0deg,#d32329 0,#e11f26)
      input.type__cities
        width: 300px
        padding: 0 10px
        font-size: 13px
        border: 1px solid #ddd
        height: 44px
        font-family: "Open Sans regular"
        border-radius: 4px
        margin-bottom: 20px
        outline: none
      span
        width: 300px
        margin: 0 70px 20px 70px
        line-height: 17px
      .modal__title
        color: #333
        font-size: 25px
        font-family: "Open Sans semi-bold"
        margin-bottom: 20px
      .modal__close:hover
        transform: scale(1.1)
        transition: 0.2s
      .modal__close
        transition: 0.2s
        background: url("../images/Безназвания.svg")
        height: 21px
        background-repeat: no-repeat
        background-size: cover
        width: 21px
        margin-right: 0
        margin-left: auto
        cursor: pointer
  .black-background
    width: 100%
    height: 100%
    position: absolute
    background: black
    opacity: 0.3
    left: 0
    top: 0
//modal styles

.hide
  display: none !important
@import "animations.sass"
@import "fonts.sass"

@import 'header.sass'
@import "headerfirst.sass"
@import "mobile-menu.sass"
@import "workHere.sass"
@import "moreAboutCompany.sass"
@import "videosBlock.sass"


@import "media.sass"