
@media all and (max-width: 1440px)
  .more-about-company
    .container
      padding: 0 10px
      width: 90%
  .work-here
    .container
      padding: 0 10px
      width: 90%
      .send-resume__btn
        max-width: 226px
  .header__body .container
    padding: 0 10px
  header .yellow-line .container
    flex-direction: column
    .yellow-line__left-part
      margin-bottom: 10px

@media all and (max-width: 1024px)
  .more-about-company
    .more-company__links
      flex-direction: column
      div:last-child
        margin-bottom: 0 !important
      div
        margin-bottom: 5px
  .work-here
    .container
      .send-resume__headline
        margin-bottom: 25px
      .send-resume__btn
        max-width: 175px
        margin-bottom: 6px
  .h-first, .h-second
    padding: 0 20px
  .find__mobile-icon
    display: block !important
  .yandex-rate
    display: none !important
  header .yellow-line .container
      padding: 9px 10px

@media all and (min-width: 901px)
  .width900
    display: none !important
@media all and (max-width: 900px)
  .yellow-line
    margin-top: 0 !important
  .h-third, .h-second
    display: none !important
  .input__find-product
    display: none !important
  header .yellow-line
    width: 100%
  .header__body
    width: 100%
    padding-top: 10px
  .width900
    display: block
  .hide900
    display: none !important
  .header__body
    .btn__enter
      display: none !important

@media all and (min-width: 769px)
  .width768
    display: none !important
@media all and (max-width: 768px)
  .video
    width: 100%
  .video iframe
    width: 100%
  .hide768
    display: none
  .input__find-product
    position: absolute
    width: 0px
    right: -200px
    overflow: hidden
    display: none
  .menu__ul
    flex-wrap: wrap
    justify-content: left !important
    li
      margin-right: 10px
  .hide768
    display: none !important
  .width768
    display: block !important
  .modal__close
    margin-right: 33px !important
  .width768
    display: block
  .icon__show-more img
    width: 25px
    cursor: pointer
    animation: showMoreBtn 3s infinite
  header .yellow-line
    width: 100%
    font-size: 14px
    .yellow-line__left-part, .yellow-line__right-part
      flex-direction: column
      justify-content: center
      align-items: center
      div:last-child
        margin-bottom: 0 !important
      div
        margin-bottom: 10px
        margin-right: 0 !important


@media all and (max-width: 687px)
  .videos
    padding: 27px 0 70px 0
    .v-1
      margin-bottom: 25px
      flex-direction: column
      .videos__headline
        margin-bottom: 10px
  .more-about-company
    .more-company__headline
      margin-bottom: 25px !important
  .work-here
    margin-bottom: 30px
    .container
      .why-we
        width: 100%
        text-align: center
        justify-content: center
        display: flex
        flex-direction: column
        align-items: center
        .send-resume
          margin-right: 0
          margin-bottom: 25px
          .send-resume__headline
            margin-bottom: 18px
        .send-resume__btn-block
          display: flex
          justify-content: center
          align-items: center
          flex-direction: column
        .send-resume__agreement
          margin-right: 0
    .photo__team
      display: none
  .h-first
    flex-wrap: wrap
    height: auto !important
    .input__find-product
      width: 74% !important
    .find__mobile-icon
      margin-left: auto
    .logo
      margin-bottom: 20px
      img
        height: 55px
@media all and (max-width: 425px)
  .more-about-company
    .more-company__headline
      margin-bottom: 15px !important
    .more-company__links
      div
        margin-bottom: 10px !important
      .text-part
        white-space: normal !important
    hr
      display: none
  .btn__cart.mobile
    margin: 0 !important
  header
    margin-bottom: 25px !important
  .header__body
    //background: url("../images/logoAnotherfactor.png")
  .h-first
    justify-content: space-between !important
  .find__mobile-icon
    margin: 0 16px !important
    margin-left: 0 !important
  .logo
    display: none !important
  .input__find-product
    position: absolute !important
    left: 0 !important
  .modal__close
    margin-right: 83px !important
  .icon__show-more
    margin-top: 10px
    img
      width: 20px
