#mobile-menu
  position: fixed
  width: 100%
  height: 100%
  z-index: 100
  overflow: hidden
  display: none
  .mobile-menu__body
    display: flex
    justify-content: start
    align-items: center
    flex-direction: column
    background: white
    color: orange
    z-index: 101
    position: absolute
    z-index: 10000
    height: 100%
    padding: 30px 50px 0 50px
    width: 70%
    .close-menu__icon
      margin-left: auto
      margin-right: 0
      img
        height: 27px
    ul.mobile-menu
      list-style: none
      width: 100%
      overflow-y: scroll
      padding-right: 20px
      .btn__enter
        justify-content: space-between
        img
          height: 20px
      li
        padding: 10px 0
        font-family: "Open Sans semi-bold"
        color: #333333
        font-size: 15px
        border-bottom: #e2e2e2 solid 1px
        display: flex
        flex-direction: column
        justify-content: space-between
        .menu-content__item-title
          margin-top:  20px
        .menu-content__item-orders
          padding-left: 20px
        .title
          margin-bottom: 15px
        .title
          display: flex
          width: 100%
          justify-content: space-between
          align-items: center
        .category__orders
          background: white
          padding-left: 20px

        img
          height: 10px
  .black-screen
    top: 0
    background: black
    height: 100%
    width: 100%
    opacity: 0.3
    z-index: 1000
    position: absolute