.more-about-company
  margin-bottom: 70px
  .container
    .more-company__headline
      display: flex
      align-items: center
      justify-content: space-between
      font-size: 24px
      font-family: "SFpro medium"
      color: #222222
      white-space: nowrap
      margin-bottom: 50px
      hr
        margin-left: 22px
        width: 100%
        opacity: 0.1
    .more-company__links
      display: flex
      justify-content: space-between
      color: #4D4D4D
      font-family: "SFpro regular"
      font-size: 16px
      div
        white-space: nowrap
        display: flex
        a:hover
          color: #666565 !important
        a
          text-decoration: none
          color: #4D4D4D
          display: flex
          justify-content: center
          align-items: center
        .text-part
          border-bottom: 1px #4D4D4D solid
        .text-part.active-link:hover
          border-bottom: 1px #a7081f solid
          color: #9b081c
        .text-part.active-link
            border-bottom: 1px #D2001C solid
            color: #D2001C
        .image-part
          display: flex
          justify-content: center
          align-items: center
          margin-left: 15px
          img
            height: 11px