//.video
//  overflow: hidden
//  position: relative
//  padding-bottom: 56.25%
//  padding-top: 30px
//  height: 0
//
//.video iframe
//  position: absolute
//  width: 40%
//  height: 40%
//  left: 0
//  top: 0

.video
  width: 49%
.video iframe
  width: 100%
  //height: 131%

.videos
  background: #F9F9F9
  margin: 0 auto
  margin-bottom: 20px
  max-width: 90%
  padding: 60px 0 70px 0
  .container
    padding: 0 10px
  .v-2
    height: 300px
  .v-1
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 70px
    .disabledButton
      opacity: 0.5
      cursor: not-allowed !important
    .videos__control-slider
      display: flex
      justify-content: center
      align-items: center
      .btn__slider:hover
        transform: scale(0.95) !important
      .btn__slider
        display: flex
        justify-content: center
        align-items: center
        border: 1px solid #E5E5E5
        border-radius: 10px 0 0 10px
        padding: 11px 18px 11px 13px
        cursor: pointer
      .btn__slider.btn__btn-next:hover
        transform: rotate(180deg) scale(0.95) !important
      .btn__slider.btn__btn-next
        transform: rotate(180deg)
    .videos__headline
      color: #222222
      font-size: 36px
      font-family: "SFpro regular"
  .v-2
    display: flex
    justify-content: space-between
    .slide
      display: none
    .activeSlide
      display: block
