.send-resume__btn
  color: white
  font-family: "SFpro regular"
  font-size: 16px
  width: 248px
  padding: 12px 16px
  text-align: center
  background: #d2001c
  border-right: 4px
  margin-bottom: 20px
  border-radius: 4px
  outline: none
  border: none
  cursor: pointer

.work-here
  margin-bottom: 70px
  .container
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    .photo__team
      margin-bottom: 50px
      img
        width: 100%
    .why-we
      width: 100%
      display: flex
      justify-content: space-between
      .send-resume
        max-width: 330px !important
        margin-right: 15px
        .send-resume__headline
          font-weight: 400
          font-family: "SFpro medium"
          font-size: 27px
          color: black
          line-height: 32px
          margin-bottom: 40px
        .send-resume__btn-block
          .send-resume__btn:hover
            background: #a5091f
            transition: 0.2s
          .send-resume__agreement
            max-width: 232px
            font-weight: 500
            color: #C4C4C4
            font-family: "SFpro regular"
            font-size: 14px
    .about_company
      max-width: 700px
      font-size: 16px
      font-family: "SFpro regular"
      line-height: 19px
      font-weight: 500
      color: #4D4D4D
      text-align: justify
      p
        margin-bottom: 23px
        a
          color: #D2001C
          white-space: nowrap